@import "./_color";
@import "./_nav";

@font-face {
  font-family: 'NotoSansCJKtc-Regular';
  src: url("/font/NotoSansCJKtc-Regular.woff") format('woff');
}

html, body {
  color: #42413E;
  background: $bg-color;
  font-family: 'NotoSansCJKtc-Regular', 'Noto Sans', "微軟雅黑","Microsoft YaHei", Helvetica, 'sans-serif';
}

body {
  padding-top: 20px;

  a {
    color: #CE5024;
    &:hover {
      color: #CE5024;
      opacity: 0.8;
    }
  }
}

.container-fluid {
  width: 90%;
}

#footer {
	width: 100%;
	height: 250px;

	>a { 
		float: right; 
		height: 100%; 
	}
	>a:hover { background-color: $purple; }
	
	.icon{
		top: 150px;
		position: relative;
		height: 100px;
		margin: 0 5px;
		border: 10px solid $purple;
	}
}
