@import "./_color";

.navbar-header {

  float: initial;
  margin-bottom: 10px;

  .prefix-title {
    border: 2px solid $light-gray;
    padding: 3px 15px 3px 15px;
    font-size: 20px;
    color: $gray;
  }

  .sub-title {
    font-size: 28px;
    color: $orange;
    padding: 10px;
    vertical-align: sub;
  }
}

.navbar-default {
  background-color: initial;
  border: none;

  .navbar-nav>li>a, .nav-text {
    color: #42413E;
    font-weight: bold;
    padding: 0;
    margin: 2px 17px;
    padding-bottom: 4px;
    cursor: pointer;
    
    &:hover {
      border-bottom: 4px solid $orange;
    }

  }

  .active {
   border-bottom: 4px solid $orange;
  }

  .dropdown-menu {
    padding: 0 0 4px;
    background: $bg-color;
    padding: 0;
    border: none;
    > li {
      background: $light-gray;
      margin-top: 1px;
    }
    a {
      padding: 8px 10px 5px 10px;
      color: $bg-color;
      font-weight: bold;
      &:hover {
        color: $bg-color;
        background-color: #737373;
      }
      &:focus {
        color: $bg-color;
        background-color: #737373;
      }
    }
  }

  i {
    margin-left: 3px;
  }

  #navbar {
    padding-left: 0px; 

    li {
      padding-left: 0px; 
    }
  }

  .divider-vertical {
    border-right: 2.5px solid $light-gray;
  }
}

.nav-divider {
  border-top: 2.5px solid #999690;
  border-style: dotted;
  width: 100%;
}

ul.nav.navbar-nav.navbar-right {
  margin-right: 2%;
  font-size: 26px;
}

.icon{
  height: 30px;
  display: inline-block;
}
