@import "./_color-conf";
@import "./_nav-conf";

html, body {
  width: 100%;
  overflow-x: hidden;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  background: $bg-color;
  font-family: Helvetica, "微軟雅黑","Microsoft YaHei", 'sans-serif';
  a {
    &:hover {
      opacity: 0.8;
		}
  }
}

h1,
h4 {
  color: #333;
  font-weight: 600;
}

.gray-bg {
  background-color: #F6F4F5;
}

p {
  padding: 10px;
}

.container-fluid {
  width: 100%;
	margin: 0;
	padding: 0;
}

.container {
  padding: 50px 0;
}

.row {
  min-height: 400px;
  padding: 50px 0;
}

.text-center {
  text-align: center;
}

.section-heading {
  text-transform: uppercase;
  margin-bottom: 50px;
}


#cover {
	img { 
		width: 100%; 
		z-index: 0;
		position: relative;
	}
}

#intro {
	width: 100%;
	margin: 0;
	padding-bottom: 50px;
	background-color: $bg-gray;

	#intro-text {
		margin: 80px 0 50px;
		padding: 0 50px;
		text-align: justify;
	}

	#intro1 {
		width: 80%;
		float: right;
		margin-top: -40px;
		margin-right: 40px;
		z-index: 10;
		position: relative;
	}
	#intro2 {
		width: 50%;
		float: right;
		margin-top: -20%;
		margin-right: 50%;
		z-index: 20;
		position: relative;
	}
	@media all and (max-width: 767px) {
		#intro-img{ 
			text-align: center;
			#intro1 { margin: 0 auto; float: none; width: 40%; }
			#intro2 { margin: 0 auto; float: none; width: 25%; }
		}
	}

}

.col-md-4 {
  padding: 0;
  box-shadow: 1px 2px 8px rgba(208, 208, 208, 0.5);
  min-height: 300px;
  border: 1px solid #eee;
}

.text-content {
  padding: 30px 20px 10px;
}

.grid-img {
  max-width: 100%;
  max-height: 300px;
}

#wanna-go {
  background: url('../images/backgroud.png');
  background-repeat: no-repeat;
  backgournd-size: cover;
  backgournd-position: center center;
  h1 {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
  .btn {
    float: right;
    width: 90px;
  }
}


@media all and (max-width: 993px) {

  .col-md-4 {
    box-shadow: none;
    border: none;
    width: 80%;
    margin: auto;
  }

  .text-content {
    text-align: center;
  }

}
#travel {
	width: 80%;
	margin: auto;
	&>div {
		margin: 50px 0;
		padding: 0;
		height: 550px;
		p { font-size: 1.2em; }
		&>div { 
			background: rgba(0,0,0,.5);
			color: white;
			width: 80%;
			padding: 5px 20px;
			margin: 180px auto;
			position: relative;
			z-index: 20; 
			text-align: justify;
		}
		img {
			width: 80%;
			height: 100%;
			position: absolute;
			top:0;
			left:10%;
			z-index: 10;
		}
	}
	#travel_bg {
		width: 150%;
		margin-top: -40%;
		position: relative;
		left: -15%;
		z-index: 0;
	}
}

#apply {
	margin: 50px;
  a {
    color: #fff;
  }
	&>div{
		margin: auto;
		width: 40%;
		padding: 30px 40px;
		text-align: center;
		background: none;
		box-shadow:0 0 15px 0 rgba(0,200,150,.5),inset 0 0 15px 0 rgba(0,200,150,.5);
		p { 
			font-size: 1.2em; 
			margin: 20px 0;
		}
	}
}

