@import "./_layout";

#my-slider {
  width: 100%; 
  margin-top: 40px;
  margin-left: 4%;
  margin-bottom: 30px;

  .sp-slide {
    width: 100%;
  }

  img {
    float: left;
    width: 90%;
    height: 500px;
  }
}

.title{
	padding: 0 10%;
	font-size: 2em;
	text-align: center;
	font-weight: bold;

	.underline {
		margin: 3px auto;
		color: $orange;
		width: 50px;
		border-style: solid;
		border-width: 2px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
}

.container{
	width: 80%;
	margin: 0 auto;
}

.content{
	margin: 0 auto;
	width: 100%;
	margin: 20px 0 10px 0;
	padding: 10px 10% 80px 10%;
	font-size: 1.2em;
	text-align: center;
	border-left-style: solid;
	border-width: 2px;
	border-color: black;
}

#home_bg{
	width: 100%;
	height: 350px;
	background-image: url('../images/home_bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}


