@import "./_layout";

.img-container {
	margin: 20px auto 50px;
	text-align: center;
	width: 70%;
}

#member { width: 80%; }

.special { 
	display: inline-block; 
	margin: 0 10px;
}

.img-div {
	height:180px;
  width:180px;
  display: inline-block;
  overflow:hidden;
  border-radius:50%;
	margin: 20px;
	
	img {
		height: 180px;
    margin-left:90px;
		cursor: pointer;
		transform: translate(-50%);
    -webkit-transform:translate(-50%);
	}

}

.ack {
	display: inline-block;
	height: 130px;
	margin: 10px 30px 20px 30px;
	
	img { height: 100%; }
}

.intro {
	width: 350px;
	padding: 10px 0;
	margin-top: 20px;
	color: $bg-color;
	background-color: $bg-color2;
	z-index: 10;
	font-size: 1.6em;
	text-align: right;
	.inner {
		background-color: $gray;
		padding: 20px 20px 10px 20px;
		width: 100%;
		margin: 0;
	
		>div:not(:last-child) { border-right: 2px solid $bg-color2; }

		.area { margin:5px 0; }
		.title-2 { font-size: 0.8em; }
	}
}

#line {
	position: absolute;
	height: 50px;
	border-width: 3px;
	border-left-style: dashed;
	border-color: $purple;
	display: none;
}

#intro {
	width: 90%;
	display: none;
	position: absolute;
	left: 5%;
	#inner {
		>div{ padding: 0 30px 0 70px; }
		i { 
			position: absolute;
			top: 12px;
			right: 5px;
			cursor: pointer;
		}
	}

}


