@import "./_layout";

.img-container {
	width: 70%;
	margin: 50px auto;
	text-align: center;
}

.img-div {
	height:180px;
  width:180px;
  display: inline-block;
  overflow:hidden;
  border-radius:50%;
	margin: 20px;
	
	img {
		height: 180px;
		transform: translate(-50%);
    -webkit-transform:translate(-50%);
    margin-left:90px;
	}
}

