<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/team.css">
  </head>
  <body>
    {{> header }}
    <div class="container-fluid">
	    <div class="title">
			Instructor
			<div class="underline"></div>
		</div>
		<div class="img-container" id="instructor">
			<div class="img-div">
				<img src="https://avatars0.githubusercontent.com/u/14795468?v=3&s=460" />
			</div>
			<div class="img-div">
				<img src="https://avatars0.githubusercontent.com/u/14795468?v=3&s=460" />
			</div>
			<div class="img-div">
				<img src="https://avatars0.githubusercontent.com/u/14795468?v=3&s=460" />
			</div>
			<div class="img-div">
				<img src="https://avatars0.githubusercontent.com/u/14795468?v=3&s=460" />
			</div>
			<div class="img-div">
				<img src="https://avatars0.githubusercontent.com/u/14795468?v=3&s=460" />
			</div>
		</div>
	    <div class="title">
			Member
			<div class="underline"></div>
		</div>
		<div class="img-container" id="member">
			<div class="img-div">
				<img src="https://avatars0.githubusercontent.com/u/14795468?v=3&s=460" />
			</div>
		</div>
    </div>
    {{> footer }}
	<script language="javascript" src="/js/member.js"></script>
	<script language="javascript" src="/js/team.js"></script>
   </body>
</html>
