<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/team.css">
  </head>
  <body>
    {{> header }}
    <div class="container-fluid">
	    <div class="title" id="instructors">
			Instructor
			<div class="underline"></div>
		</div>
		<div class="img-container" id="instructor"></div>
	    <div class="title" id="members">
			Member
			<div class="underline"></div>
		</div>
		<div class="img-container" id="member"></div>
	    <div class="title" id="acknowledgement">
			Acknowledgement
			<div class="underline"></div>
		</div>
		<div class="img-container">
			<div class="ack">
				<a href="http://web.ncku.edu.tw/bin/home.php" target="_blank"><img src="http://web.ncku.edu.tw/ezfiles/0/1000/sys_1000_3785662_81698.png" /></a>
			</div>
			<div class="ack">
				<a href="http://www.microbio.com.tw/" target="_blank"><img src="http://www.microbio.com.tw/images/logo_isd.jpg" /></a>
      </div>
			<div class="ack">
				<a href="http://www.diamondcapital.com.tw/" target="_blank"><img src="http://www.diamondcapital.com.tw/images/logo.jpg" /></a>
      </div>
    	<div class="ack">
        <a href="http://www.dow.com/greaterchina/ch/" target="_blank"><img src="http://i.imgur.com/37B15Rq.jpg" /></a>
      </div>
    	<div class="ack">
        <a href="http://www.mac.gov.tw" target="_blank"><img src="http://www.mac.gov.tw/GIPDSD/xslGip/xslExport/1/MAC%5FTW1/images/陸委會logo中華民國.png" /></a>
      </div>
		</div>
	    <div class="title" id="specialthanks">
			Special Thanks
			<div class="underline"></div>
		</div>
		<div class="img-container" id="special"></div>
	</div>	
	{{> footer }}
	<script type="text/javascript" src="/js/team.js"></script>
   </body>
</html>
