<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <span class="prefix-title">iGEM</span> 
      <span class="sub-title">NCKU Tainan</span>
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">

    <ul class="nav navbar-nav">
      <li class="divider-vertical"><a href="/">Home</a></li>
      <li class="divider-vertical"><a href="/about">About</a></li>
      <li class="divider-vertical">
        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="nav-text">Team 
          <i class="glyphicon glyphicon-menu-down"></i>
          </span>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="/team/#instructors">Instructor</a></li>
          <li><a href="/team/#members">Member</a></li>
          <li><a href="/team/#acknowledgement">Acknowledgement</a></li>
          <li><a href="/team/#specialthanks">Special Thanks</a></li>
        </ul>
      </li>
<!--  <li class="divider-vertical"><a href="#">Project</a></li> -->
      <li class="divider-vertical"><a href="/report">Report</a></li> 
      <li><a href="/blog">Blog</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <a href="#"><img src="/images/icon.png" class="icon"/></a>
      <a href="http://igem.org/Main_Page" target="_blank"><img src="/images/igemlogo.png" class="icon"/></a>
      <a href="https://www.facebook.com/igem.ncku/"><i class="fa fa-facebook-official"></i></a>
    </ul>
  </div><!--/.nav-collapse -->
    <hr class="nav-divider" />
</div><!--/.container-fluid -->
</nav>
