<html>
  <head>
    {{> head}}
    <script async src="https://static.medium.com/embed.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/blog.css">
    <script type="text/javascript">
      function checkIsLoaded()
      {
        if(!$('.resizable').height())
        {
          setTimeout(checkIsLoaded, 50);
        }
        else
        {
          $('#loader').hide();
          $('.resizable').show();
        }
      } 
      setTimeout(checkIsLoaded, 50);
    </script>
  </head>
  <body>
    {{> header }}
    <div class="container" onload="frameload()">
      <div class="title" id="loader">
        <img src="/images/loader.gif">
      </div>
      <div class="resizable" style="display: none;">
        <a class="m-profile" data-width="100%" href="https://medium.com/@igem_ncku"></a>
      </div>
    </div>
    {{> footer }}
   </body>
</html>
