<html>
  <head>
    {{> head}}
    <script async src="https://static.medium.com/embed.js"></script>
    <link rel="stylesheet" href="/css/blog.css">
  </head>
  <body>
    {{> header }}
    <div class="container">
      <h2>TODO...</h2>
    </div>
   </body>
</html>

