<html>
  <head>
    {{> head}}
    <script async src="https://static.medium.com/embed.js"></script>
    <link rel="stylesheet" href="/css/blog.css">
  </head>
  <body>
    {{> header }}
    <div class="container">
      <a class="m-profile" data-width="100%" href="https://medium.com/@igem_ncku">igem.ncku.tainan</a>
    </div>
    {{> footer }}
   </body>
</html>
