<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/report.css">
		<link rel="stylesheet" type="text/css" href="/css/slicebox/slicebox.css" />
		<link rel="stylesheet" type="text/css" href="/css/slicebox/custom.css" />
  </head>
  <body>
    {{> header }}
    <div class="container-fluid">
	    <div class="title">
			2015.12
			<div class="underline"></div>
		</div>
		<div class="wrapper">
				<ul id="sb-slider" class="sb-slider">
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank"><img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10273906_959885297437096_6053731499884782397_n.jpg?oh=11b0f1828cb8c29f334427554da39079&oe=574401C2" /></a>
						<div class="sb-description">
							<h3>Team Report (Dec.)</h3>
						</div>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1931401_959885017437124_236306740137593652_n.jpg?oh=e7325fbae88e440eca529bb13ff50eb4&oe=57478AB2" /></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1934756_959885030770456_2691238132302537250_n.jpg?oh=c1e9decdc10ac5c6092f206c099621d2&oe=573BD4A9"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1923910_959885060770453_4774537692200021284_n.jpg?oh=25a061622a3690d64e73f4367a122dac&oe=572FDD80"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/10277001_959885110770448_1899185243021431928_n.jpg?oh=fbedb8b0e5d30719e71fd30030e3e413&oe=57328536"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1934496_959885114103781_6261407513027690856_n.jpg?oh=58077aa8e92a24c794d3f6ecf2d240e1&oe=5741EB26"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xpl1/v/t1.0-9/246699_959885124103780_5675481189466840683_n.jpg?oh=1b69a72eb42ef3c3c7ab4e365486b882&oe=574333E1"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10574339_959885174103775_8896289899687864188_n.jpg?oh=4e86ccf0f4f075cf1162fe73bef3d2f1&oe=572A0B3D"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/10314593_959885180770441_6940988279467312966_n.jpg?oh=177a2f385d7bfa7e2c084f45d4658e5a&oe=57464CB6"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10177954_959885187437107_8184778406495334828_n.jpg?oh=46de8beb2ddeec0c791ff9dfd9f778ce&oe=5737DD75"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/1914992_959885207437105_8934009981757917931_n.jpg?oh=2827213cd46cdb29f25a69b168854322&oe=572B73C0"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10399785_959885247437101_2918588671561387156_n.jpg?oh=cfd29b4695b8b76d669435df0b35d526&oe=572BFDE4"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1173810_959885270770432_6680920397752906116_n.jpg?oh=e89450dc4214428fa602f8aebe399a62&oe=57289DB5"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10561572_959885294103763_3193197158330627310_n.jpg?oh=e449c991b76ddf87dab3f9265cd54605&oe=5732163C"></a>
					</li>
					<li>
						<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank">
							<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10449937_959885037437122_7012053721290078533_n.jpg?oh=743706f9748f828058549c16d43813c1&oe=57296117"></a>
					</li>
				</ul>

				<div id="shadow" class="shadow"></div>

				<div id="nav-arrows" class="nav-arrows">
					<a href="#">Next</a>
					<a href="#">Previous</a>
				</div>

			</div><!-- /wrapper -->
	    <div class="title">
			2015.09 ~ 2015.11
			<div class="underline"></div>
		</div>
		<div class="cover">
			<a href="https://www.facebook.com/media/set/?set=a.952428104849482.1073741833.867827879976172&type=3" target="_blank"><img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12316192_952428118182814_7099386178535316984_n.png?oh=98a12c661a6da2da6bd40d917c100537&oe=572C4761" /></a>
		</div>
	</div>
    {{> footer }}
		<script type="text/javascript" src="/js/slicebox/modernizr.custom.46884.js"></script>
		<script type="text/javascript" src="/js/slicebox/jquery.slicebox.min.js"></script>
<script type="text/javascript">
			$(function() {
				var navTop = $("#sb-slider").offset().top + 300;
				$('.nav-arrows a').css("top",navTop);
				var arrowLeft = $("#sb-slider").offset().left;
				$('.nav-arrows a:first-child').css("left",arrowLeft + 795);
				$('.nav-arrows a:nth-child(2)').css("left",arrowLeft - 50);
				var Page = (function() {
					var $navArrows = $( '#nav-arrows' ).hide(),
						$shadow = $( '#shadow' ).hide(),
						slicebox = $( '#sb-slider' ).slicebox( {
							onReady : function() {
								$navArrows.show();
								$shadow.show();
							},
							orientation : 'r',
							cuboidsRandom : true,
							disperseFactor : 30
						} ),
						
						init = function() {
							initEvents();
							
						},
						initEvents = function() {
							// add navigation events
							$navArrows.children( ':first' ).on( 'click', function() {
								slicebox.next();
								return false;
							} );
							$navArrows.children( ':last' ).on( 'click', function() {
								
								slicebox.previous();
								return false;
							} );
						};
						return { init : init };
				})();
				Page.init();
			});
		</script>
   </body>
</html>
