<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/report.css">
  </head>
  <body>
    {{> header }}
    <div class="container-fluid">
	    <div class="title">
			2015.12
			<div class="underline"></div>
		</div>
		<div class="cover">
			<a href="https://www.facebook.com/media/set/?set=a.959884997437126.1073741834.867827879976172&type=3" target="_blank"><img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10273906_959885297437096_6053731499884782397_n.jpg?oh=11b0f1828cb8c29f334427554da39079&oe=574401C2" /></a>
		</div>
	    <div class="title">
			2015.09 ~ 2015.11
			<div class="underline"></div>
		</div>
		<div class="cover">
			<a href="https://www.facebook.com/media/set/?set=a.952428104849482.1073741833.867827879976172&type=3" target="_blank"><img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12316192_952428118182814_7099386178535316984_n.png?oh=98a12c661a6da2da6bd40d917c100537&oe=572C4761" /></a>
		</div>
	</div>
    {{> footer }}
   </body>
</html>
