<html>
  <head>
    {{> head}}
        <link rel="stylesheet" type="text/css" href="/css/slicebox/slicebox.css" />
        <link rel="stylesheet" type="text/css" href="/css/slicebox/custom.css" />
        <link rel="stylesheet" href="/css/report.css">
  </head>

  <body>
    {{> header }}
    <div class="container-fluid" id="main">
			<div class="title">2016.10.25 ~ 2016.11.02 @ Boston<div class="underline"></div></div>
			<div class="wrapper" style="text-align:center">
				<iframe class="home-video" width="560" height="315" src="https://www.youtube.com/embed/2G0j5L_Elm8" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
    {{> footer }}
        <script type="text/javascript" src="/js/slicebox/modernizr.custom.46884.js"></script>
        <script type="text/javascript" src="/js/slicebox/jquery.slicebox.min.js"></script>
        <script type="text/javascript" src="/js/report.js"></script>
   </body>
</html>
