<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/report.css">
        <link rel="stylesheet" type="text/css" href="/css/slicebox/slicebox.css" />
        <link rel="stylesheet" type="text/css" href="/css/slicebox/custom.css" />
  </head>

  <body>
    {{> header }}
    <div class="container-fluid" id="main"></div>
    {{> footer }}
        <script type="text/javascript" src="/js/slicebox/modernizr.custom.46884.js"></script>
        <script type="text/javascript" src="/js/slicebox/jquery.slicebox.min.js"></script>
        <script type="text/javascript" src="/js/report.js"></script>
   </body>
</html>
