<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/conf.css">
  </head>
  <body>
    {{> header-conf }}
  <div class="container-fluid">
		<div id="cover">
			<img src="/images/2016conf/cover.png" />
		</div>
		<div id="intro" class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<h1>Introduction</h1>
				<p>2016 iGEM 亞洲太平洋地區交流會，為台灣的第四次舉辦，即將於2016/08/08~08/12 首次在台南成功大學由iGEM NCKU_Tainan承辦。由美國 MIT 舉辦的 iGEM 競賽，以往皆由北台灣學校組隊參賽，而今年，成功大學成立了台灣南部首屆團隊，相信藉由合成生物學與 iGEM 競賽，創造並刺激成功大學跨領域合作的風氣，並在國內連結各學校，協力影響到國際。</p>
				<p>這次 2016 iGEM Meet-Up 亞太交流會，預計將有超過5個國家、20個學校的隊伍來到台南，並邀請專家學者與相關企業單位參與，進行生物科技，以及合成生物學的交流。主要內容包含計畫簡報、海報展覽、團隊經驗分享、議題咖啡館、台南文化之旅⋯等，相信藉由這次跨領域與跨國際的亞太交流會，除了能讓各團隊能有所交流，締造更好的成果之外，也是使成功大學進一步成為亞洲太平洋的人才集散地，並讓世界看見台南、印象成大。</p>
			</div>
			<div class="col-sm-6">
				<img id="intro1" src="/images/2016conf/intro1.png" />
				<img id="intro2" src="/images/2016conf/intro2.jpg" />
			</div>
		</div>
	</div>
  </body>
</html>
