<html>
	<head>
		{{> head}}
		<link rel="stylesheet" href="/css/conf.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css">
	</head>
	<body>
		{{> header-conf }}
	<div class="container-fluid">
		<div id="cover">
			<div id="cover-text">
				<div id="title1">2016 亞太交流會</div>
				<div id="title2">iGEM NCKU @ Tainan</div>
				<div id="title3">2016.08.08 - 2016.08.14</div>
			</div>
		</div>
		<div id="intro">
			<div id="top" class="row">
				<div class="col-md-12 sec1-text">
					<h1>介紹</h1>
				</div>
				<div class="col-md-4 top-img">
					<div class="col-md-2">
						<img src="/images/2016conf/webneed-01.png" />
					</div>
				</div>
				<div class="col-md-4 top-img">
					<div class="col-md-2">
						<img src="/images/2016conf/webneed-02.png" />
					</div>
				</div>
				<div class="col-md-4 top-img">
					<div class="col-md-2">
						<img src="/images/2016conf/webneed_280.png" />
						<div id="teamnum">
							<span class="teamnum1">已報名</span>
							<span class="teamnum2">14</span>
							<span class="teamnum1">隊</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 top-text">
					<p>2016 iGEM 亞洲太平洋地區交流會，為台灣的第四次舉辦，即將於 2016/08/08 ~ 08/14 首次在台南成功大學由 iGEM NCKU_Tainan 承辦。由美國 MIT 舉辦的 iGEM 競賽，以往皆由北台灣學校組隊參賽，而今年，成功大學成立了台灣南部首屆團隊，相信藉由合成生物學與 iGEM 競賽，創造並刺激成功大學跨領域合作的風氣，並在國內連結各學校，協力影響到國際。</p>
				</div>
			</div>

			<div id="bottom" class="row">
				<div class="col-md-6">
					<img src="/images/2016conf/webneed-04.png" />
				</div>
				<div class="col-md-6">
					<p>這次 2016 iGEM Meet-Up 亞太交流會，預計將有超過5個國家、20個學校的隊伍來到台南，並邀請專家學者與相關企業單位參與，進行生物科技，以及合成生物學的交流。主要內容包含計畫簡報、海報展覽、團隊經驗分享、議題咖啡館、台南文化之旅⋯等，相信藉由這次跨領域與跨國際的亞太交流會，除了能讓各團隊能有所交流，締造更好的成果之外，也是使成功大學進一步成為亞洲太平洋的人才集散地，並讓世界看見台南、印象成大。</p>
				</div>
			</div>
		</div> <!-- end #intro -->

		<div id="agenda">
			<h1>議程</h1>
			<div id='calendar'></div>
			<div class='big-bg row' id='open'>
				<div class="col-md-6"></div>
				<div class="col-md-6"><div class="col-md-12">
					<h1>開幕式</h1>
						<ul><li>地點：醫學院</li>
								<li>主題設定：府城・連結・共好<br/>
										所有隊伍必須於參加前，於報名表單中填寫。將於開幕式時，串連這些資料，成為一個故事，並以影片形式放映，呈現所有團隊對於此交流會的想像與期望。讓來自不同地區的人們有了共同連結，並了解彼此。（Reference: <a href="https://www.youtube.com/watch?v=tw9QirLbFXQ" target="_blank">MaD Asia 2015</a>的前20秒。）<br/>
								<blockquote><每個隊伍於報名表時需填寫><br/>
								從前，一個從＿＿＿＿＿來的人，帶着＿＿＿＿＿來到這古城。他首先看到的是＿＿＿＿＿。<br/>
								這裡與他以前到過的地方最不同的是＿＿＿＿＿。他希望來到這裡找出＿＿＿＿＿＿，並帶走＿＿＿＿＿。</blockquote></li></ul>
				</div></div>
			</div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row"><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-06.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>開幕式晚宴</h1>
					<ul class="row">
						<li class="col-md-6">
							<h2>自助晚宴</h2>
							<p>將由道地的台南小吃晚宴，做為整個 2016 iGEM 亞太交流會的開始！並讓所有參賽團隊交流，為明天開始的團隊簡報加溫！</p>
						</li>
						<li class="col-md-6">
							<h2>Talent Show</h2>
							<p>於開幕式的自助晚宴時段，每個團隊將會帶來5分鐘以內的 Talent Show，除了展現自己隊伍之熱情與特色，也能藉此使各團隊快速熟識與交流，開啟這個2016 iGEM Asia-Pacific Conference @Tainan</p>
						</li>
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row" id='team-proj'><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-07.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>Team's Project ＠醫學院</h1>
					<ul class="row">
						<li class="col-md-6">
							<h2>團隊題目簡報</h2> <h3>@醫學院一、二講堂</h3>
							<p>將由教授學者以及外部單位代表作為團隊簡報的主持人，主持各個團隊將於10月底於美國波士頓的的20分鐘簡報。各團隊將說明自己團隊目前以及未來的研究計畫，並開放現場20分鐘的問與答，透過此團隊簡報，深度了解彼此題目與專案，進行學術性的交流。</p>
						</li>
						<li class="col-md-6">
							<h2>海報與作品展覽</h2> <h3>@成大醫學院平面一樓</h3>
							<p>簡介：<br/>
									每場團隊簡報的間隔，將有約20分鐘的海報與作品展覽時間。各團隊將在於會場中展示自己團隊的研究成果，並進行面對面解說。</p>
						</li>
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row" id='round-table'><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-08.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>Round Table @多功能廳</h1>
					<div class="row">
						<div class="col-md-6">
							<p>簡介：<br/>
								 這次 iGEM 亞太交流國際會議，許多國家的學生前來台南成大，除了學術上的計畫交流與分享，我們也一定要把握機會，進行觀點與經驗分享。因此，我們將會邀請學者教授與企業代表，引領所有與會者進行特定的議題討論，共同探索議題，引發深層思考。透過圓桌交流，凝聚匯談，而不是辯論。藉此了解不同國家的思考脈絡，也進一步去連結不同觀點，產生新的思維。</p>
							<table class="table table-bordered"><tr><td>25桌</td>
												 <td>4組題目</td>
												 <td>3輪</td>
												 <td>150分鐘</td></tr></table>
						</div>
						<div class="col-md-6">
							<h2>Topic</h2>
							<span style="font-size:18px">5大面向，可由企業或者教師出題：</span>
							<ul><li>International issue
										<ul><li>跨國空汙問題</li></ul>
									</li>
									<li>Biology
										<ul><li>基因改造作物</li></ul>
									</li>
									<li>Ethics
										<ul><li>醫療倫理</li>
												<li>生物倫理</li></ul>
									</li>
									<li>Environment
										<ul><li>經濟與環境</li></ul>
									</li>
									<li>Energy
										<ul><li>生物科技對於能源</li></ul>
									</li></ul>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row" id='workshop'><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-09.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>iGEM Experience Sharing Workshop @多功能廳</h1>
					<ul class="row">
						<li class="col-md-6">
							<p>簡介：<br/>
	以世界咖啡館的形式，NCKU_Tainan團隊成員為桌長，引領其他團隊進行關於iGEM的團隊經驗的分享。從團隊歷程出發，學習他人的優點與特色，並探究一些挫敗原因，進行預防謹惕。這樣的分享，將會作為未來團隊方向與永續管理的參考指標。</p>
						</li>
						<li class="col-md-6">
							<p>將分為兩個部分：
								<ul><li>Light up：<br/>
												從正面故事與經驗出發，分享各自團隊的獨特與成功之處，以及管理、統籌訣竅，讓其他團隊參考與學習，共同成長！</li>
										<li>Fucked up：<br/>
												「勿忘前車之鑑」！分享自己團隊真實的失敗故事，讓其餘參與者從中學習；若有現在正遇到的團隊困難，也可以集思廣益，請大家協助解決。</li></ul>
							</p>
						</li>
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row" id='campus-tour'><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-10.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>校園導覽</h1>
					<div>
						<ul><li>簡介：<br/>
										與成大形象團合作，帶領各國來賓參觀學門規模全國第2的綜合大學，成功大學。</li>
								<li>預計路線（將與形象團安排協調後公佈詳細內容）：
									<ul><li>成杏校區：醫學院</li>
											<li>力行校區：台文系館、綠色魔法學校</li>
											<li>光復校區：榕園、成功湖、小西門</li>
											<li>自強校區：四大金剛</li>
											<li>成功校區：總圖書館、歷史博物館</li></ul>
								</li></ul>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class='big-bg row' id="closing">
				<div class="col-md-6"></div>
				<div class="col-md-6"><div class="col-md-12">
					<h1>閉幕式</h1>
					<p>
						<ul><li>頒獎典禮<br/>
										進行頒發參與獎狀、獎盃，並請教授與企業代表進行整個交流會的總結，並提供台南名產當作伴手禮。</li>
								<li>Farewell Dinner<br/>
										所有活動結束後，邀請各教授與貴賓一同參與，最後的晚宴交流，這也將是開啟前往 MIT 世界舞台的一個起點。</li></ul>
					</p>
				</div></div>
			</div>
		</div> <!-- end #agenda -->

		<div id="travel" class="row">
			<div class="col-md-12">
				<h1 class="section-heading text-center">一起去旅行</h1>
			</div>
			<div class="col-md-6" id="nighttrip">
				<img src="/images/2016conf/nighttrip.png" />
				<h2>Night Trip</h2>
				<p>將於8月9日～11日的三天晚上，由 iGEM NCKU_Tainan 的成員作為嚮導，設計並推出多種「夜間府城漫遊」行程，讓來自國外的團隊，可以感受到台南的多元、文化底蘊，以及面貌</p>
			</div>
			<div class="col-md-6" id="fieldtrip">
				<img src="/images/2016conf/fieldtrip.png" />
				<h2>Field Trip（府城體驗之旅）</h2>
				<p>「台南是一個適合人們作夢、幹活、戀愛、結婚、悠然過活的地方。」- 台灣當代文學作家葉石濤</p>
				<ul><li>Day1 (8/13): 孔廟 -> 安平 -> 四草綠色隧道 -> 七股鹽山、鹽田 -> 吃海產</li>
					<li>Day2 (8/14): 十鼓文化村 ＆ 奇美博物館</li></ul>
			</div>
			<img id="travel_bg" src="/images/2016conf/travel_bg.png" />
		</div> <!-- travel -->
		<div id="apply">
			<div>
				<h1>申請</h1>
				<p>請下載此報名表，填寫完後寄信到<br/>igem.ncku.tainan @ gmail.com<br/>(中國隊伍需在4/25前完成報名表單；其他國家於5/15前完成)</p>
				<p>隊伍以 20 隊為上限，<br/>我們將採取先報名先「繳費」方式，<br/>前 20 隊繳費的優先入選</p>
				<button type="button" class="btn btn-warning"><a href="/Asia-Pacific-Conf.pdf" target="_blank">下載表格</a></button>
			</div>
		</div> <!-- apply -->
	</div> <!-- container -->
	<div id="footer">
		© 2016 iGEM NCKU Tainan<br/>
		igemncku @ googlegroups.com
	</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/js/conf.js"></script>
<script src="/js/conf-timeline.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-75097808-1', 'auto');
	ga('send', 'pageview');
</script>
	</body>
</html>
