<html>
	<head>
		{{> head}}
		<link rel="stylesheet" href="/css/conf.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css">
	</head>
	<body>
		{{> header-conf-en }}
	<div class="container-fluid">
		<div id="cover">
			<div id="cover-text">
				<div id="title1">Asia-Pacific Conference</div>
				<div id="title2">iGEM NCKU @ Tainan</div>
				<div id="title3">2016.08.08 - 2016.08.14</div>
			</div>
		</div>
		<div id="intro">
			<div id="top" class="row">
				<div class="col-md-12 sec1-text">
					<h1>Introduction</h1>
				</div>
				<div class="col-md-4 top-img">
					<div class="col-md-2">
						<img src="/images/2016conf/webneed-01.png" />
					</div>
				</div>
				<div class="col-md-4 top-img">
					<div class="col-md-2">
						<img src="/images/2016conf/webneed-02.png" />
					</div>
				</div>
				<div class="col-md-4 top-img">
					<div class="col-md-2">
						<img src="/images/2016conf/webneed_280.png" />
						<div id="teamnum">
							<span class="teamnum2">5</span>
							<span class="teamnum1">teams applied</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 top-text">
					<p>The 4th iGEM Asia-Pacific Conference 2016 Taiwan is going to held grandly at National Cheng Kung University Tainan for the first time starting from 2016/08/08 to 2016/08/14 organised by iGEM NCKU Tainan. In the past few years, only universities from North part of Taiwan attended iGEM Competiton organised by MIT, Boston. This year, NCKU had formed the first team representing South Taiwan as a succes of historical breakthrough. By involving in Synthetic Biology and iGEM Competiton, we believe that we can improve multidisciplinary cooperation. Besides, to connect every schools in Taiwan also branched out tentatively into international platform.</p>
				</div>
			</div>

			<div id="bottom" class="row">
				<div class="col-md-6">
					<img src="/images/2016conf/webneed-04.png" />
				</div>
				<div class="col-md-6">
					<p>We estimated more than 5 countries, approximately 20 teams from different schools will be attending this Meet-up Conferece. Proffesional scholars and entrepreneur will be invited too for academic exchange about Biotechnology and Synthetic Biology. The main programs are inclusive of presentations, poster exhibitions, team experience sharing , Round table , Tainan cultural tours etc.. We truly believed that by this Asia-Pacific Academic Exchange Conference, the teams are able to have communications, achieving better results as well as making NCKU a step closer to become one of the most popular universities in Asia Pacific and also impress the world.</p>
				</div>
			</div>
		</div> <!-- end #intro -->

		<div id="agenda">
			<h1>Agenda</h1>
			<div id='calendar'></div>
			<div class='big-bg row' id='open'>
				<div class="col-md-6"></div>
				<div class="col-md-6"><div class="col-md-12">
					<h1>Opening Ceremony</h1>
						<ul><li>Place：College of Medicine</li>
								<li>Topic：Tainan・Connection・Gung ho<br/>
										Every team have to fill their answers in the registration form before participating. We will show their expectations and prospects on screen duing the opening ceromoney with video.(Reference: 0:00~0:20, <a href="https://www.youtube.com/watch?v=tw9QirLbFXQ" target="_blank">MaD Asia 2015</a>) With this, people from different countries will interlinked an get to know each other better.<br/>
								<blockquote><Every team have to fill their answers in the registration form><br/>
								Long time ago, There's a guy from_____, he brought____to this town. The first thing he saw was_____.<br/>
								The extraordinary scenery about this place is that_____. He would like to find out_____, and bring_____back.</blockquote></li></ul>
				</div></div>
			</div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row"><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-06.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>Evening Party</h1>
					<ul class="row">
						<li class="col-md-6">
							<h2>Buffet</h2>
							<p>The iGEM 2016 Conference will kick off with scrumptious local delicatessen and cuisine. All teams are advised not to be shy to communicate with each other in order to warm up for the long presentation marathon the next day.</p>
						</li>
						<li class="col-md-6">
							<h2>Talent Show</h2>
							<p>Every team have to perform a talent show within 5 minutes during the opening ceremony. With buffet dinner and the show, we will get to know each other well with their very own enthusiasm and specialities, which will be a start for 2016 iGEM Asia-Pacific Conference at Tainan, Taiwan.<br/>
						</li>
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row" id='team-proj'><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-07.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>Team's Project ＠College of Medicine</h1>
					<ul class="row">
						<li class="col-md-6">
							<h2>Team presentations </h2>
							<p>The team presentation will host by professors and representatives of our sponsor. This presentation is about topics which is going to be presented at iGEM Giant jamboree 2016. It is 20 minutes long English presentation, content includes present and future research and planning, and of course 20 minutes Q&A session (iGEM 2016 competition format).</p>
						</li>
						<li class="col-md-6">
							<h2>Poster Exhibitions</h2>
							<p>Brief introduction:<br/>
								 There'll be a 20 minutes break in between every team presentations for poster exhibitions. the purpose of this program is to enable every team to share their research works and findings.</p>
						</li>
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row" id='round-table'><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-08.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>Round Table</h1>
					<div class="row">
						<div class="col-md-6">
							<p>Brief introduction:<br/>
								 Host by professors or representatives of entrepreneus to lead the participants to think out of the box. Most people might get the wrong idea but this program is carried out through sharing not debating. By connecting different point of views and thoughts of the participants, we can create a whole new idea.<br/>
							<table class="table table-bordered"><tr><td>25 tables</td>
												 <td>4 topics</td>
												 <td>3 rounds</td>
												 <td>150 minutes</td></tr></table>
						</div>
						<div class="col-md-6">
							<h2>Topic</h2>
							<span style="font-size:18px">5 main topics, can be set by entrepreneur or teachers</span>
							<ul><li>International issue
										<ul><li>Global air pollution issues</li></ul>
									</li>
									<li>Biology
										<ul><li>Genetically modified goods</li></ul>
									</li>
									<li>Ethics
										<ul><li>Medical Ethics</li>
												<li>Bioethics</li></ul>
									</li>
									<li>Environment
										<ul><li>Economy and environment</li></ul>
									</li>
									<li>Energy
										<ul><li>Biotechnology towards sources of energy</li></ul>
									</li></ul>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row" id='workshop'><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-09.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>iGEM Experience Sharing Workshop</h1>
					<ul class="row">
						<li class="col-md-6">
							<p>Brief introduction:<br/>
								 Next, World cafe session. Each table there'll be a member of iGEM NCKU_Tainan leading other participants to share their iGEM experience. throughout their iGEM journey, we can all improve to be better and also learn from our failures and mistakes which bring no harm to every teams. </p>
						</li>
						<li class="col-md-6">
							<p>Divided into two parts:
								<ul><li>Light up：<br/>
												Share positive stories, experiences, uniqueness, management tips, etc so that other teams can reffered to.</li>
										<li>Fucked up：<br/>
												Share failures and downfall of own team in order to allow other teams to learn from mistakes, to understand that story has an ending but in life, every ending is a new beginning. If any of the teams have difficulties, they can speak out too so that others can help to think for a solution.</li></ul>
							</p>
						</li>
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class="row" id='campus-tour'><div class="row-md-height">
				<div class="col-md-1"></div>
				<div class="col-md-4 col-md-height col-md-middle"><img src="/images/2016conf/webneed-10.png"/></div>
				<div class="col-md-6 col-md-height col-md-top">
					<h1>Campus Tour</h1>
					<div>
						<ul><li>Brief introduction:<br/>
										In coorperation with NCKU Image Association, to tour around the ranked second best descipline comprehensive universiy in Taiwan, NCKU.</li>
								<li>Rough sketch of itinarary (official announcement will be made after discussion with NCKU Image Association):
									<ul><li>Cheng-Hsin Campus: College of Medicine</li>
											<li>Li-Hsing Campus: Faculty of Taiwanese Literature, the Magical School of Green Technologies</li>
											<li>Kuang-Fu Campus: Banyan Tree Garden, the Cheng-Kung Pond, Gate Jing-Po(one of the west gate among the others 14 gates built by the Tainan Governmanet during Qing Dynasty)</li>
											<li>Tzu-Chiang Campus: Faculty of Mechanical Engineering, Electrical Engineering, Chemical Engineering and Science-Technology Building</li>
											<li>Cheng-Kung Campus: Main Library, Museum of History</li></ul>
								</li></ul>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div></div>
			<div class="row line">
				<div class="col-md-3 col-xs-6"></div>
				<div class="col-md-9 col-xs-6"></div>
			</div>
			<div class='big-bg row' id="closing">
				<div class="col-md-6"></div>
				<div class="col-md-6"><div class="col-md-12">
					<h1>Closing Ceremony</h1>
					<p>
						<ul><li>Award Ceremony<br/>
										Giving out certificates and trophies, professors and representatives of entrepreneus are invited to conclude the overall academic exchange conference. And local products of Tainan will be giving out as souvenirs.</li>
								<li>Farewell Dinner<br/>
										As the closure of the conference, all professors, teachers, particiants, etc. are invited to have the last farewell dinner. This will be the starting point of the road to the MIT platform.</li></ul>
					</p>
				</div></div>
			</div>
		</div> <!-- end #agenda -->

		<div id="travel" class="row">
			<div class="col-md-12">
				<h1 class="section-heading text-center">TRAVEL WITH US</h1>
			</div>
			<div class="col-md-6" id="nighttrip">
				<img src="/images/2016conf/nighttrip.png" />
				<h2>Night Trip</h2>
				<p>Member of iGEM NCKU_Tainan will guide the participants to visit around Tainan with our own secret, well-designed route continuosly for 3 nights from 9th of August to 11th of August so that particpants from overseas can feel and discover the beauty, multiculture and traditions of Tainan.</p>
			</div>
			<div class="col-md-6" id="fieldtrip">
				<img src="/images/2016conf/fieldtrip.png" />
				<h2>Field Trip (Tainan Leisure Tour)</h2>
				<p>"Tainan is a perfect place for people to dream, to work, to fall in love, to marry and to live a carefree life." - Yeh Shit-Tao, a contemporary Literature</p>
				<ul><li>Day1 (8/13): Confusian Temple, An-Ping, Sihcao Mangrove Green River Canal, Cigu Salt mountain/field, devouring scrumptious seafood</li>
					<li>Day2 (8/14): Ten-Drum Cultural Village, Chimei Museum</li></ul>
			</div>
			<img id="travel_bg" src="/images/2016conf/travel_bg.png" />
		</div> <!-- travel -->
		<div id="apply">
			<div>
				<h1>APPLY</h1>
				<p>You're required to download the file and send the application form that you've filled up to our email<br/>igem.ncku.tainan @ gmail.com<br/>(China team should fill in before 4/25；others before 5/15)</p>
				<p>We're sorry to inform that the number of candidates are limited to 20 teams only in this Conf.<br/>The first 20 teams that have paid the fees will have the priority to join us!</p>
				<button type="button" class="btn btn-warning"><a href="/Asia-Pacific-Conf.pdf" target="_blank">Download Form</a></button>
			</div>
		</div> <!-- apply -->
	</div> <!-- container -->
	<div id="footer">
		© 2016 iGEM NCKU Tainan<br/>
		igemncku @ googlegroups.com
	</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/js/conf.js"></script>
<script src="/js/conf-timeline.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-75097808-1', 'auto');
	ga('send', 'pageview');
</script>
	</body>
</html>
