<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/conf.css">
  </head>
  <body>
    {{> header-conf }}
  <div class="container-fluid">
		<div id="cover">
			<img src="/images/2016conf/cover.png" />
		</div>
		<div id="intro" class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5" id="intro-text">
				<h1 style="text-align:left">Introduction</h1>
				<p>
The 4th iGEM Asia-Pacific Conference 2016 Taiwan is going to held grandly at National Cheng Kung University Tainan for the first time starting from 2016/08/08 to 2016/08/12 organised by iGEM NCKU Tainan. In the past few years, only universities from North part of Taiwan attended iGEM Competiton organised by MIT, Boston. This year, NCKU had formed the first team representing South Taiwan as a succes of historical breakthrough. By involving in Synthetic Biology and iGEM Competiton, we believe that we can improve multidisciplinary cooperation. Besides, to connect every schools in Taiwan also branched out tentatively into international platform.
We estimated more than 5 countries, approximately 20 teams from different schools will be attending this Meet-up Conferece. Proffesional scholars and entrepreneur will be invited too for academic exchange about Biotechnology and Synthetic Biology. The main programs are inclusive of presentations, poster exhibitions, team experience sharing , Round table , Tainan cultural tours etc.. We truly believed that by this Asia-Pacific Academic Exchange Conference, the teams are able to have communications, achieving better results as well as making NCKU a step closer to become one of the most popular universities in Asia Pacific and also impress the world.</p>
			</div>
			<div class="col-sm-6" id="intro-img">
				<img id="intro1" src="/images/2016conf/intro1.png" />
				<img id="intro2" src="/images/2016conf/intro2.jpg" />
      </div>
    </div><!-- end row -->

    <div id="act" class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="section-heading">Day1-2</h1>
        <div class="col-md-4">
          <img class="grid-img" src="../images/2016conf/activity1.png">
        </div>

        <div class="col-md-4 text-content">
          <h4>Opening Ceremony</h4>
          <p>
            Town・Connection・Grow together<br/>
            <hr/>
            Evening Party<br/>
            Buffet
          </p>
        </div>

        <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity2.png">
        </div>

        <div class="col-md-4 text-content">
          <h4>Team's Project ＠醫學院(Medical College)</h4>
            <p>Team presentations @醫學院一、二講堂<br>
            Poster Exhibitions @成大醫學院平面一樓</p>
        </div>

        <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity3.png">
        </div>

        <div class="col-md-4 text-content">
          <h4>Round Table @多功能廳</h4>
          <p>
          Host by professors or representatives of entrepreneus to lead the participants to think out of the box. Most people might get the wrong idea but this program is carried out through sharing not debating. By connecting different point of views and thoughts of the participants, we can create a whole new idea.
           </p>
        </div>

      </div>
    </div> <!--end row-->

    <div id="wanna-go" class="row gray-bg">
			<div class="col-sm-2"></div>
      <div class="col-sm-4 text-content">
        <h1>Do you wanna go ?</h1>
        <a href="#apply" class="btn btn-danger">Apply</a>
       </div>
    </div>

     <div id="travel-with-us" class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="section-heading">Day2-3</h1>

		 <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity4.png">
        </div>

        <div class="col-md-4 text-content">
          <h4>iGEM Experience Sharing Workshop @多功能廳</h4>
          <p>
           Next, World cafe session. Each table there'll be a member of iGEM NCKU_Tainan leading other participants to share their iGEM experience. throughout their iGEM journey, we can all improve to be better and also learn from our failures and mistakes which bring no harm to every teams.
          </p>
        </div>

        <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity5.png">
        </div>

        <div class="col-md-4 text-content">
          <h4>Campus Tour</h4>
          <p>
            In coorperation with NCKU Image Association, to tour around the ranked second best descipline comprehensive universiy in Taiwan, NCKU.
          </p>
        </div>

        <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity6.png">
        </div>

        <div class="col-md-4 text-content">
          <h4>Closing ceremony</h4>
            <p>GAward Ceremony<br/>
              Farewell Dinner
            	</p>
        </div>

      </div>
    </div>
  </div>

		<div id="travel">
			<h1 class="section-heading text-center">TRAVEL WITH US</h1>
			<div class="col-sm-6">
				<div>
					<h2>Night Trip</h2>
					<p>Member of iGEM NCKU_Tainan will guide the participants to visit around Tainan with our own secret, well-designed route continuosly for 3 nights from 9th of August to 11th of August so that particpants from overseas can feel and discover the beauty, multiculture and traditions of Tainan.</p>
				</div>
					<img src="/images/2016conf/nighttrip.png" />
			</div>
			<div class="col-sm-6">
				<div>
					<h2>Field Trip</h2>
					<p>2 days 1 night (Tainan Leisure Tour)</p>
					<p>Yeh Shit-Tao, a contemporary Literature once said that Tainan is a perfect place for people to dream, to work, to fall in love, to marry and to live a carefree life.</p>
				</div>
				<img src="/images/2016conf/fieldtrip.png" />
			</div>
			<img id="travel_bg" src="/images/2016conf/travel_bg.png" />
		</div> <!-- travel -->
		<div id="apply">
			<div>
				<h1>APPLY</h1>
				<p>Please download this pdf file, fill out the application form and send email to <br/>igem.ncku.tainan @ gmail.com</p>
				<p>There are limits to 20 team in this Conf.<br/>20 teams are determined by the priority of payment time</p>
				<button type="button" class="btn btn-warning"><a href="/Asia-Pacific-Conf.pdf" target="_blank">Download Form</a></button>
			</div>
		</div> <!-- apply -->
	</div> <!-- container -->
	<div id="footer">
		© 2016 iGEM NCKU Tainan<br/>
		igemncku@googlegroups.com
	</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/js/conf.js"></script>
  </body>
</html>
