<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/conf.css">
  </head>
  <body>
    {{> header-conf }}
  <div class="container-fluid">
		<div id="cover">
			<img src="/images/2016conf/cover.png" />
		</div>
		<div id="intro" class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<h1>Introduction</h1>
				<p>2016 iGEM 亞洲太平洋地區交流會，為台灣的第四次舉辦，即將於2016/08/08~08/12 首次在台南成功大學由iGEM NCKU_Tainan承辦。由美國 MIT 舉辦的 iGEM 競賽，以往皆由北台灣學校組隊參賽，而今年，成功大學成立了台灣南部首屆團隊，相信藉由合成生物學與 iGEM 競賽，創造並刺激成功大學跨領域合作的風氣，並在國內連結各學校，協力影響到國際。</p>
				<p>這次 2016 iGEM Meet-Up 亞太交流會，預計將有超過5個國家、20個學校的隊伍來到台南，並邀請專家學者與相關企業單位參與，進行生物科技，以及合成生物學的交流。主要內容包含計畫簡報、海報展覽、團隊經驗分享、議題咖啡館、台南文化之旅⋯等，相信藉由這次跨領域與跨國際的亞太交流會，除了能讓各團隊能有所交流，締造更好的成果之外，也是使成功大學進一步成為亞洲太平洋的人才集散地，並讓世界看見台南、印象成大。</p>
			</div>
			<div class="col-sm-6">
				<img id="intro1" src="/images/2016conf/intro1.png" />
				<img id="intro2" src="/images/2016conf/intro2.jpg" />
      </div>
    </div><!-- end row -->

    <div id="our-journal" class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="section-heading">Day1-2</h1>
        <div class="col-md-4">
          <img class="grid-img" src="https://paper.dropbox.com/ep/redirect/image?url=https%3A%2F%2Fd2mxuefqeaa7sj.cloudfront.net%2Fs_B1A26B3C32D0C7CC648AAB95C7400C8E67B8F66CD2310857EEC5ADA204C2461D_1457873774257_21191647493_3f5f1b5ce3_k.jpg&hmac=oK6WXT4sqDgzwRZ9tYA62ZkxmomvW%2BLDxmm22RENLfs%3D">
        </div>

        <div class="col-md-4 text-content">
          <h4>開幕式（Opening Ceremony）</h4>
          <p>
            主題設定：府城・連結・共好<br/>
            晚宴（Evening Party
          </p>
        </div>

        <div class="col-md-4">
          <img class="grid-img" src="https://paper.dropbox.com/ep/redirect/image?url=https%3A%2F%2Fd2mxuefqeaa7sj.cloudfront.net%2Fs_B1A26B3C32D0C7CC648AAB95C7400C8E67B8F66CD2310857EEC5ADA204C2461D_1457873270067_21968506605_2451274eab_k.jpg&hmac=4YqhVA6EdsGMuFXpMtF02EoY6LI9%2BWiU%2BtH5Ddof7hY%3D">
        </div>

        <div class="col-md-4 text-content">
          <h4>Team's Project ＠醫學院</h4>
            <p>團隊題目簡報 @醫學院一、二講堂<br>
            海報與作品展覽 @成大醫學院平面一樓</p>
        </div>

        <div class="col-md-4">
          <img class="grid-img" src="https://paper.dropbox.com/ep/redirect/image?url=https%3A%2F%2Fd2mxuefqeaa7sj.cloudfront.net%2Fs_B1A26B3C32D0C7CC648AAB95C7400C8E67B8F66CD2310857EEC5ADA204C2461D_1457873597226_21191668773_b471610401_k.jpg&hmac=gbW7MvO4wtxUbLviO6YFHPYvD1KQo3swsdoNUqjhY1U%3D">
        </div>

        <div class="col-md-4 text-content">
          <h4>Round Table @多功能廳</h4>
          <p>
          以世界咖啡館的形式，NCKU_Tainan團隊成員為桌長，引領其他團隊進行關於iGEM的團隊經驗的分享。從團隊歷程出發，學習他人的優點與特色，並探究一些挫敗原因，進行預防謹惕。這樣的分享，將會作為未來團隊方向與永續管理的參考指標。
           </p>
        </div>

      </div>
    </div> <!--end row-->

    <div id="wanna-go" class="row gray-bg">
			<div class="col-sm-2"></div>
      <div class="col-sm-4 text-content">
        <h1>Do you wanna go ?</h1>
        <button class="btn btn-danger">報名</button>
       </div>
    </div>

     <div id="travel-with-us" class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="section-heading">Day2-3</h1>

		 <div class="col-md-4">
          <img class="grid-img" src="https://paper.dropbox.com/ep/redirect/image?url=https%3A%2F%2Fd2mxuefqeaa7sj.cloudfront.net%2Fs_B1A26B3C32D0C7CC648AAB95C7400C8E67B8F66CD2310857EEC5ADA204C2461D_1457873252551_21347423933_f26f7b30cf_k.jpg&hmac=yr2wdaJNnT%2B73uBtG7Nxm6yZxjN8PRIrwFUxrV0zdpU%3D">
        </div>

        <div class="col-md-4 text-content">
          <h4>iGEM Experience Sharing Workshop @多功能廳</h4>
          <p>
            以世界咖啡館的形式，NCKU_Tainan團隊成員為桌長，引領其他團隊進行關於iGEM的團隊經驗的分享。從團隊歷程出發，學習他人的優點與特色，並探究一些挫敗原因，進行預防謹惕。這樣的分享，將會作為未來團隊方向與永續管理的參考指標。
          </p>
        </div>

        <div class="col-md-4">
          <img class="grid-img" src="https://paper.dropbox.com/ep/redirect/image?url=https%3A%2F%2Fd2mxuefqeaa7sj.cloudfront.net%2Fs_19D7D9D32283CCAE95CDE1605943A0AC029DF69BDF4D493F32ED129D8105FEA5_1457971770064_%25E9%259B%25B2%25E4%25B9%258B%25E8%2588%259E.jpg&hmac=BiED4zB%2FKSZ89pjcvi7U6%2Fr5mgaWP0ZrvXU3PZgUWAQ%3D">
        </div>

        <div class="col-md-4 text-content">
          <h4>校園導覽（Campus Tour）</h4>
          <p>
            主題設定：府城・連結・共好<br/>
            晚宴（Evening Party
          </p>
        </div>

        <div class="col-md-4">
          <img class="grid-img" src="https://paper.dropbox.com/ep/redirect/image?url=https%3A%2F%2Fd2mxuefqeaa7sj.cloudfront.net%2Fs_B1A26B3C32D0C7CC648AAB95C7400C8E67B8F66CD2310857EEC5ADA204C2461D_1457873597226_21191668773_b471610401_k.jpg&hmac=gbW7MvO4wtxUbLviO6YFHPYvD1KQo3swsdoNUqjhY1U%3D">
        </div>

        <div class="col-md-4 text-content">
          <h4>閉幕式（Closing ceremony）</h4>
            <p>頒獎典禮（Award Ceremony）<br/>
            	Farewell Dinner</p>
        </div>

      </div>
    </div>

	</div>
  </body>
</html>
