<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/conf.css">
  </head>
  <body>
    {{> header-conf }}
  <div class="container-fluid">
		<div id="cover">
			<img src="/images/2016conf/cover.png" />
		</div>
		<div id="intro" class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5" id="intro-text">
				<h1 style="text-align:left">Introduction</h1>
				<p>2016 iGEM 亞洲太平洋地區交流會，為台灣的第四次舉辦，即將於2016/08/08~08/12 首次在台南成功大學由iGEM NCKU_Tainan承辦。由美國 MIT 舉辦的 iGEM 競賽，以往皆由北台灣學校組隊參賽，而今年，成功大學成立了台灣南部首屆團隊，相信藉由合成生物學與 iGEM 競賽，創造並刺激成功大學跨領域合作的風氣，並在國內連結各學校，協力影響到國際。</p>
				<p>這次 2016 iGEM Meet-Up 亞太交流會，預計將有超過5個國家、20個學校的隊伍來到台南，並邀請專家學者與相關企業單位參與，進行生物科技，以及合成生物學的交流。主要內容包含計畫簡報、海報展覽、團隊經驗分享、議題咖啡館、台南文化之旅⋯等，相信藉由這次跨領域與跨國際的亞太交流會，除了能讓各團隊能有所交流，締造更好的成果之外，也是使成功大學進一步成為亞洲太平洋的人才集散地，並讓世界看見台南、印象成大。</p>
			</div>
			<div class="col-sm-6" id="intro-img">
				<img id="intro1" src="/images/2016conf/intro1.png" />
				<img id="intro2" src="/images/2016conf/intro2.jpg" />
      </div>
    </div><!-- end row -->

    <div id="our-journal" class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="section-heading">Day1-2</h1>
        <div class="col-md-4">
          <img class="grid-img" src="../images/2016conf/activity1.jpg">
        </div>

        <div class="col-md-4 text-content">
          <h4>開幕式（Opening Ceremony）</h4>
          <p>
            主題設定：府城・連結・共好<br/>
            晚宴（Evening Party
          </p>
        </div>

        <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity2.jpg">
        </div>

        <div class="col-md-4 text-content">
          <h4>Team's Project ＠醫學院</h4>
            <p>團隊題目簡報 @醫學院一、二講堂<br>
            海報與作品展覽 @成大醫學院平面一樓</p>
        </div>

        <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity3.jpg">
        </div>

        <div class="col-md-4 text-content">
          <h4>Round Table @多功能廳</h4>
          <p>
          以世界咖啡館的形式，NCKU_Tainan團隊成員為桌長，引領其他團隊進行關於iGEM的團隊經驗的分享。從團隊歷程出發，學習他人的優點與特色，並探究一些挫敗原因，進行預防謹惕。這樣的分享，將會作為未來團隊方向與永續管理的參考指標。
           </p>
        </div>

      </div>
    </div> <!--end row-->

    <div id="wanna-go" class="row gray-bg">
			<div class="col-sm-2"></div>
      <div class="col-sm-4 text-content">
        <h1>Do you wanna go ?</h1>
        <a href="#apply" class="btn btn-danger">立即報名</a>
       </div>
    </div>

     <div id="travel-with-us" class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="section-heading">Day2-3</h1>

		 <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity4.jpg">
        </div>

        <div class="col-md-4 text-content">
          <h4>iGEM Experience Sharing Workshop @多功能廳</h4>
          <p>
            以世界咖啡館的形式，NCKU_Tainan團隊成員為桌長，引領其他團隊進行關於iGEM的團隊經驗的分享。從團隊歷程出發，學習他人的優點與特色，並探究一些挫敗原因，進行預防謹惕。這樣的分享，將會作為未來團隊方向與永續管理的參考指標。
          </p>
        </div>

        <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity5.jpg">
        </div>

        <div class="col-md-4 text-content">
          <h4>校園導覽（Campus Tour）</h4>
          <p>
            主題設定：府城・連結・共好<br/>
            晚宴（Evening Party
          </p>
        </div>

        <div class="col-md-4">
           <img class="grid-img" src="../images/2016conf/activity6.jpg">
        </div>

        <div class="col-md-4 text-content">
          <h4>閉幕式（Closing ceremony）</h4>
            <p>頒獎典禮（Award Ceremony）<br/>
            	Farewell Dinner</p>
        </div>

      </div>
    </div>
  </div>

		<div id="travel">
			<h1 class="section-heading text-center">TRAVEL WITH US</h1>
			<div class="col-sm-6">
				<div>
					<h2>Night Trip</h2>
					<p>將於8月9日～11日的三天晚上，由 iGEM NCKU_Tainan 的成員作為嚮導，設計並推出多種「夜間府城漫遊」行程，讓來自國外的團隊，可以感受到台南的多元、文化底蘊，以及面貌</p>
				</div>
					<img src="/images/2016conf/nighttrip.png" />
			</div>
			<div class="col-sm-6">
				<div>
					<h2>Field Trip</h2>
					<p>（兩天一夜 府城體驗之旅）</p>
					<p>台灣當代文學作家葉石濤說：「台南是一個適合人們作夢、幹活、戀愛、結婚、悠然過活的地方。」</p>
				</div>
				<img src="/images/2016conf/fieldtrip.png" />
			</div>
			<img id="travel_bg" src="/images/2016conf/travel_bg.png" />
		</div> <!-- travel -->
		<div id="apply">
			<div>
				<h1>APPLY</h1>
				<p>請下載此報名表，填寫完後寄信到<br/>igem.ncku.tainan @ gmail.com</p>
				<p>隊伍以 20 隊為上限，我們將採取先報名先「繳費」方式<br/>前 20 隊繳費的優先入選</p>
				<button type="button" class="btn btn-warning"><a href="/Asia-Pacific-Conf.pdf" target="_blank">Download Form</a></button>
			</div>
		</div> <!-- apply -->
	</div> <!-- container -->
	<div id="footer">
		© 2016 iGEM NCKU Tainan<br/>
		igemncku@googlegroups.com
	</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
