<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/conf.css">
  </head>
  <body>
    {{> header-conf }}
  <div class="container-fluid">
		<div id="cover">
			<img src="/images/2016conf/cover.png" />
		</div>
		<div id="intro" class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5" id="intro-text">
				<h1 style="text-align:left">Introduction</h1>
				<p>2016 iGEM 亞洲太平洋地區交流會，為台灣的第四次舉辦，即將於2016/08/08~08/12 首次在台南成功大學由iGEM NCKU_Tainan承辦。由美國 MIT 舉辦的 iGEM 競賽，以往皆由北台灣學校組隊參賽，而今年，成功大學成立了台灣南部首屆團隊，相信藉由合成生物學與 iGEM 競賽，創造並刺激成功大學跨領域合作的風氣，並在國內連結各學校，協力影響到國際。</p>
				<p>這次 2016 iGEM Meet-Up 亞太交流會，預計將有超過5個國家、20個學校的隊伍來到台南，並邀請專家學者與相關企業單位參與，進行生物科技，以及合成生物學的交流。主要內容包含計畫簡報、海報展覽、團隊經驗分享、議題咖啡館、台南文化之旅⋯等，相信藉由這次跨領域與跨國際的亞太交流會，除了能讓各團隊能有所交流，締造更好的成果之外，也是使成功大學進一步成為亞洲太平洋的人才集散地，並讓世界看見台南、印象成大。</p>
			</div>
			<div class="col-sm-6" id="intro-img">
				<img id="intro1" src="/images/2016conf/intro1.png" />
				<img id="intro2" src="/images/2016conf/intro2.jpg" />
			</div>
		</div> <!-- intro -->
		<div id="travel">
			<h1>TRAVEL WITH US</h1>
			<div class="col-sm-6">
				<div>
					<h2>Night Trip</h2>
					<p>將於8月9日～11日的三天晚上，由 iGEM NCKU_Tainan 的成員作為嚮導，設計並推出多種「夜間府城漫遊」行程，讓來自國外的團隊，可以感受到台南的多元、文化底蘊，以及面貌</p>
				</div>
					<img src="/images/2016conf/nighttrip.png" />
			</div>
			<div class="col-sm-6">
				<div>
					<h2>Field Trip</h2>
					<p>（兩天一夜 府城體驗之旅）</p>
					<p>台灣當代文學作家葉石濤說：「台南是一個適合人們作夢、幹活、戀愛、結婚、悠然過活的地方。」</p>
				</div>
				<img src="/images/2016conf/fieldtrip.png" />
			</div>
			<img id="travel_bg" src="/images/2016conf/travel_bg.png" />
		</div> <!-- travel -->
		<div id="apply">
			<div>
				<h1>APPLY</h1>
				<p>請下載此報名表，填寫完後寄信到<br/>igem.ncku.tainan @ gmail.com</p>
				<p>隊伍以 20 隊為上限，我們將採取先報名先「繳費」方式<br/>前 20 隊繳費的優先入選</p>
				<button type="button" class="btn btn-warning"><a href="/Asia-Pacific-Conf.pdf" target="_blank">Download Form</a></button>
			</div>
		</div> <!-- apply -->
	</div> <!-- container -->
  </body>
</html>
