<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="../css/about.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
      function frameload()
      {
          $('#loader').hide();
          $('iframe').show();
      } 
    </script>
  </head>
  <body>
    {{> header }}
    <div class="container-fluid">
	    <div class="title">
			Introduction
			<div class="underline"></div>
		</div>
      <div class="title" id="loader">
        <img src="/images/loader.gif">
      </div>
    	<iframe onload="frameload()" src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1UDSFY7T8Tbg4Jzrb5rt0wfdQoxoXlU3vr5z3aU8Aq1Q&font=Default&lang=en&hash_bookmark=true&initial_zoom=2&height=650' width='100%' height='650' frameborder='0' style="margin-top:30px"></iframe>
    {{> footer }}
   </body>
</html>
