<html>
	<head>
		{{> head}}
		<link rel="stylesheet" href="../css/about.css">
	</head>
	<body>
		{{> header }}
		<div class="container-fluid">
			<div class="title">
					Introduction
					<div class="underline"></div>
			</div>
			<div class="content">
				<p>
					<div class="sub-title">
						Cultivate Multidisciplinary and Talent Student
					</div>
					 透過 iGEM 的合成生物學之實作計劃，可提供成功大學與台灣南部學子們對於生物科技的技術與應用的實戰平台，並且最大化運用學生人才與研究資源，進一步連結產業。另一方面 iGEM NCKU-Tainan 將與 H.I.T Asia 合力推動台灣生技產業，將台南打造成生物學基地，提升大眾對於生物學的認識，媒合人才，並連結產業需求。<br><br>
			　   最後，藉由傳承經驗，刺激成大對於世界脈動的敏銳度，與國際隊伍交流與合作，將世界觀注入成大，並透過跨領域、跨國際的合作找出適合台南產學發展的模型。
				</p>
			</div>
			<div class="title">
					Timeline
					<div class="underline"></div>
			</div>
		</div>
			<div class="title" id="loader">
				<img src="/images/loader.gif">
			</div>
			<iframe onload="frameload()" src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1UDSFY7T8Tbg4Jzrb5rt0wfdQoxoXlU3vr5z3aU8Aq1Q&font=Default&lang=en&hash_bookmark=true&initial_zoom=2&height=650' width='100%' height='650' frameborder='0' style="margin-top:30px; display: none;"></iframe>
		{{> footer }}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript" src="/js/about.js"></script>
	 </body>
</html>
