<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/slider-pro/slider-pro.min.css"/>
  </head>
  <body>
    {{> header }}

    <div class="slider-pro" id="my-slider">
      <div class="sp-slides">
        <div class="sp-slide">
          <img class="sp-image" src="./images/slide.jpg"/>
        </div>

        <div class="sp-slide">
          <img class="sp-image" src="./images/slide.jpg"/>
        </div>

        <div class="sp-slide">
          <img class="sp-image" src="./images/slide.jpg"/>
        </div>

      </div>
    </div>

	<div class="container">
		<div class="row" style="margin:inherit 0;">
			<div class="col-md-6">
				<div class="diamond"></div>
			    <div class="title">
					What is iGEM
					<div class="underline"></div>
				</div>
				<div class="content">
					<a href="http://igem.org/Main_Page" target="_blank">International Genetically Engineered Machine Competition</a>，簡稱 iGEM，是全球最具權威且最盛大的「合成生物學競賽」，每年由美國麻省理工學院 （ Massachusetts Institute of Technology ， MIT ） 主辦。大賽目的在於「促進跨學科領域研究與合作」，利用工程手段創造標準化的生物元件，並利用它們構建具有實用價值的微生物遺傳體，並解決社會問題。曾多次被 Nature 等國際權威科學雜誌報導。
				</div>
			</div>
			<div class="col-md-6">
			    <div class="title">
					What is Synthetic Biology
					<div class="underline"></div>
				</div>
				<div class="content" style="border-left-style:dashed;padding-bottom:30px;">
					「合成生物學」是項融合了生物、工程科學、物理、化學、計算機科學和其他多項領域的綜合性科學工程。2004年美國MIT出版的《<a href="http://www.rle.mit.edu/thz/documents/10_emerging_tech.pdf" target="_blank">Technology Review</a>》將合成生物學列為將改變世界的十大新技術之一。簡單地說，合成生物學通過設計和構建自然界中不存在的人工生物系統來解決能源、材料、健康和環保等問題。透過合成生物學設計的新元件，組裝出真正的生物系統，並令其在活體細胞中工作。
				</div>
			</div>
		</div>

		<div class="diamond"></div>
	    <div class="title">
			Why we do
			<div class="underline"></div>
		</div>
		<div class="content">
			成功大學擁有最完整的學院與系所，並接近南部科學工業園區。<br/>
			我們的使命是從大學出發，運用各自的背景專業、結合這片土地的優勢，去連結世界，透過合成生物學，開創出新的跨領域合作風氣、環境與開創藍海。
		</div>

      <div class="diamond"></div>
      <div class="title">
        Why we do
        <div class="underline"></div>
      </div>
      <div class="content">
        成功大學擁有最完整的學院與系所，並接近南部科學工業園區。<br/>
        我們的使命是從大學出發，運用各自的背景專業、結合這片土地的優勢，去連結世界，透過合成生物學，開創出新的跨領域合作風氣、環境與開創藍海。
      </div>

      <div class="diamond"></div>
      <div class="title">
        How we do
        <div class="underline"></div>
      </div>
      <div class="content">
        透過跨領域的整合，促成對話與合作，讓討論的所產生的火花成為產品的原型，並且站在巨人的肩膀上，動手解決問題。
      </div>

      <div class="diamond"></div>
      <div class="title">
        What we do
        <div class="underline"></div>
      </div>
      <div class="content">
        將近半年的Pre-Training，打好彼此的專業知識基礎，解決各領域的成員在溝通上的障礙；寒假時期定訂出最後比賽計畫與方向；下學期各部門專業分工；並於暑假時舉辦亞洲太平洋交流會，邀請海外國家團隊，來台南一同交流、展現成果，創造更好的跨領域環境，並透過實作去真正的解決問題。
      </div>
    </div>
	<div id="home_bg"></div>
    {{> footer }}
    <script src="./js/slider-pro/jquery.sliderPro.min.js"></script>
    <script src="./js/home.js"></script>
  </body>
</html>
